@keyframes moveAndIncreaceR {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
        transform: scale3d(1.0, 1.0, 1.0);
      }
    75% {
        opacity: 1;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    to {
        opacity: 1;
        transform: scale3d(1.0, 1.0, 1.0);
    }
}
@keyframes moveAndIncreaceL {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
        transform: scale3d(1.0, 1.0, 1.0);
      }
    75% {
        opacity: 1;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    to {
        opacity: 1;
        transform: scale3d(1.0, 1.0, 1.0);
    }
}
@keyframes moveAndIncreaceU {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
        transform: scale3d(1.0, 1.0, 1.0);
      }
    75% {
        opacity: 1;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    to {
        opacity: 1;
        transform: scale3d(1.0, 1.0, 1.0);
    }
}
@keyframes moveAndIncreaceD {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
        transform: scale3d(1.0, 1.0, 1.0);
      }
    75% {
        opacity: 1;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    to {
        opacity: 1;
        transform: scale3d(1.0, 1.0, 1.0);
    }
}
@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
}
@keyframes moveRight {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
}
@keyframes moveUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
}
@keyframes moveDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
}
@keyframes pulse {
    from {
        opacity: 0;
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        opacity: 1;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        transform: scale3d(1, 1, 1);
      }
    }

html {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #776e66;
    font-size: 17px;
}
body {
    background-color: #faf8ef;
}
.wrapper {
    margin: auto;
    width: 490px;
}
.title, .start {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title h1 {
    color: #776e66;
    font-size: 80px;
    margin: 0px;
}
.counter {
    background-color: #bbaca0;
    color: #eaded5;
    padding: 10px 10px;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.counter p:last-child{
    color: #f9f6f2;
    font-size: 20px;
}
.counter p {
    margin: 0;
}

.start div{
    background-color:#907967;
    color: #f9f6f2;
    padding: 10px 15px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}
.rules {
    text-align: justify;
    line-height: 1.5;
}
span {
    font-weight: bold;
}
.field-container {
    position: relative;
}
.field {
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #bbaca0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px 0 0 10px;
}
.cell {
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color:#cebfb4;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    color: #f9f6f2;
    font-size: 55px;
    font-weight: bold;
}
.new-cell {
    animation: pulse 0.4s;
}
.movedLeft {
    animation: moveLeft 0.2s;
}
.movedRight {
    animation: moveRight 0.2s;
}
.movedUp{
    animation: moveUp 0.2s;
}
.movedDown{
    animation: moveDown 0.2s;
}
.increaced.movedLeft {
    animation: moveAndIncreaceL 0.4s;
}
.increaced.movedRight {
    animation: moveAndIncreaceR 0.4s;
}
.increaced.movedUp {
    animation: moveAndIncreaceU 0.4s;
}
.increaced.movedDown {
    animation: moveAndIncreaceD 0.4s;
}
.cell2 {
    background-color: #efe3da;
    color: #776e66;
}
.cell4 {
    background-color: #eedfc8;
    color: #776e66;
}
.cell8 {
    background-color: #f7af7e;
}
.cell16 {
    background-color:#fc9369;
}
.cell32 {
    background-color: #fe7b64;
}
.cell64 {
    background-color: #ff5e46;
}
.cell128 {
    background-color: #f0ce7a;
}
.cell256 {
    background-color: #f0cb6c;
}
.cell512 {
    background-color: #ff9647;
}
.cell1024 {
    background-color: #e7b939;
    font-size: 48px;
}
.cell2048 {
    background-color: #f2c147;
    font-size: 48px;
}

.game-over, .game-win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(238, 228, 218, 0.73);
    position: absolute;
    width: 100%;
    height: 100%;
}
.game-over {
    opacity: 0;
}
.game-win {
    opacity: 0;
}
.game-over p, .game-win p {
    font-size: 60px;
    font-weight: bold;
}

.game-over div, .game-win div {
    font-size: 20px;
    background-color:#907967;
    color: #f9f6f2;
    padding: 10px 15px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}